<footer class="container is-max-widescreen mt-5">
    <div class="footer-text is-size-7 has-text-centered">
        <p class="has-text-weight-semibold">Luciana Arévalo {{ year }} | Front End Dev</p>
        <p>NodeJS / Express / HBS (HandleBars) / Bulma CSS</p>
    </div>
</footer>

</html>