<nav class="navbar container is-max-widescreen mt-4 mb-6" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <h1 class="navbar-title title is-5 is-spaced has-text-weight-bold is-uppercase">Travel</h1>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu is-justify-content-flex-end">
        <div class="is-flex is-justify-content-center is-flex-grow-1 has-text-weight-semibold">
            <a class="navbar-item">
                Home
            </a>

            <a class="navbar-item">
                Blog
            </a>
        </div>

        <div class="is-flex">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-light">
                        <strong>Log in</strong>
                    </a>
                    <a class="button is-black">
                        Sign Up
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>