{{> head }}

<div class="container is-max-widescreen">

    {{> navbar }}

    <div class="banner is-clipped is-flex is-align-items-center is-relative">
        <div class="heading pl-6">
            <div class="main-heading mb-3 px-3 is-inline-block">
                <h3 class="is-size-7 has-text-weight-semibold">Santa Cruz</h3>
            </div>
            <div class="sub-heading p-3">
                <h2 class="title is-1 has-text-weight-bold">Perito Moreno</h2>
            </div>
        </div>
        <img src="assets/images/perito-moreno.jpg" alt="Glaciar Perito Moreno - Santa Cruz" />
    </div>

</div>

</body>

{{> footer }}